{% verbatim %}
<page-banner bg-image="{{content.bannerImage.secure_url}}"></page-banner>

<section id="ed">
  <div class="hero-text">
    <h1>about</h1>
    <h3>E-Design<span class="end-border">  _______</span></h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
         <h5>{{content.images.image1Text}}</h5>
        <img ng-src="{{content.images.image1.secure_url}}" class="img-fluid padded-bottom" alt="{{content.images.image1Text}}"/>
      </div>
      <div class="col-sm-8 text" ng-bind-html="content.upperContent"></div>
    </div>

    <div class="row updated-plan">
      <div class="col-sm-4">
          <h5>{{content.images.image2Text}}</h5>
          <img ng-src="{{content.images.image2.secure_url}}" class="img-fluid" alt="{{content.images.image2Text}}" />
      </div>
      <div class="col-sm-8 text"  ng-bind-html="content.lowerContent"></div>

    </div>

    <div class="row before">
      <div class="col-sm-4">
          <h5>{{content.images.image3Text}}</h5>
          <img ng-src="{{content.images.image3.secure_url}}" class="img-fluid" alt="{{content.images.image3Text}}"/>
      </div>
    </div>

    <div class="row after">
      <div class="col-sm-4">
          <h5>{{content.images.image4Text}}</h5>
          <img ng-src="{{content.images.image4.secure_url}}" class="img-fluid" alt="{{content.images.image4Text}}"/>
      </div>
      <div class="col-sm-8 text-center">
          <a href="#" class="btn btn-lg btn-outline" ng-click="toggleQForm()">Curator Questionnaire</a>
      </div>
    </div>

  </div>
</section>

<global-modal width="90%" show="qShow">
    <h3 id="qFormTitle" class="text-center black">Curator Questionnaire</h3>
    <div ng-include="'/uiViews/questionaire'"></div>
</global-modal>

<section class="cta bg-black">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col text-center">
        <h3>{{content.cta}}</h3>
      </div>
    </div>
  </div>
</section>
{% endverbatim %}
