{% verbatim %}
<section id="home-banner">
  <div class="separator"></div>
  <div class="separator reverse"></div>
</section>


<section id="welcome">
  <div class="hero-text vertical left">
    <h1>hello</h1>
    <h3>Our Studio<span class="end-border">  _______</span></h3>
  </div>
  <div class="container sm">
    <div class="row">
      <div class="col welcome-box">
          <p class="text-center lead">Cedar + Sage Design is a boutique interior design studio based in beautiful Bend, OR.  We create captivating compositions by curating a balanced design.  Our favorite things are soft organic textures, neutral color palettes with thoughtfully placed colors, luxe finishes and natural elements.  Begin your interior design project with our personally tailored services.</p>
        <div class="btn-box text-center">
          <a class="btn btn-outline margin-right" href="#" ui-sref="curator" role="button">Curator</a>
          <a class="btn btn-outline margin-left" href="#" ui-sref="services.detail({slug: 'interior-design'})" role="button">Pricing</a>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="e-design" ng-scroll-reveal="options">
  <div class="hero-text vertical right">
    <h1>virtual design</h1>
    <h3>Curator<span class="end-border">  _______</span></h3>
  </div>
  <div class="container sm">
    <div class="row justify-content-center">
      <div class="col col-sm-6 col-md-5 left">
        <img class="img-responsive" src="img/AMSBERRY-moodboard.png" />
      </div>
      <div class="col col-sm-6 col-md-5 right">
        <div class="dark-grey box text-center">
          <div class="text-box">
            <h3>Curator Package</h3>
            <p class="forest padded-vertical">Decorate your home online with our virtual interior design package, the curator. The entire process is completed remotely. This is interior design for everyone. You can shop your purchasing list when it's right for you.</p>
            <button class="btn btn-outline" ng-click="toggleVideo()" role="button">Watch Now</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-5 left">
        <div class="grey box text-center">
          <div class="text-box">
              <h3 class="white">What we need from you:</h3>
              <p>Photos of your space</p>
              <p>Dimensions</p>
              <p>Inspiration Images</p>
              <p>Completed Questionnaire</p>
              <h3 class="white padded-top">What you get from us:</h3>
              <p>Mood Board</p>
              <p>Floor Plan</p>
              <p>Purchasing List</p>
              <a class="btn btn-outline margin-top" ui-sref="e-design">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-5 right">
        <img class="img-responsive" src="img/Amsberry-Floor-Plan.png" />
      </div>
    </div>
  </div>
</section>

<section id="style">

  <div class="hero-text vertical left">
    <h1>style</h1>
    <h3>Quiz<span class="end-border">  _______</span></h3>
  </div>

  <div class="container sm">
    <div class="row justify-content-center">
      <div class="col welcome-box">
          <p class="text-center lead">Design style is as personalized as how you take your coffee. Do you like sleek lines?  How about a whimsical vibe?  Take our interior design style quiz to determine the design that matches your personality and lifestyle.</p>
        <div class="btn-box text-center">
          <a class="btn btn-outline" href="#" ui-sref="curator" role="button">Style Quiz</a>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-10 col-md-6 offset-md-3">
      <img class="img-responsive padded-top2x" src="img/style-quiz.png" />
    </div>
  </div>
  </div>
</section>

<global-modal width="80%" height="{{videoHeight}}" show="videoShow" video="true">
    <div class="embed-responsive embed-responsive-16by9">
        <video width="400" id="CS-video" controls>
            <source src="img/videos/CS-website-video-compressed.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
        </video>
    </div>
</global-modal>

<section id="packages">
  <div class="hero-text vertical right">
    <h1>packages</h1>
    <h3>What We Do<span class="end-border">  _______</span></h3>
  </div>
  <div class="container sm">
    <div class="row justify-content-center">
      <div class="col col-sm-6 col-md-4 service" ng-repeat="service in services">
          <a ui-sref="services.detail({slug: service.slug})">
          <div class="hex-box">
              <div class="hexagon-grey"></div>
              <div class="hexagon-black">
                <img class="img-responsive {{service.title}}" ng-src="{{service.logo}}" ng-class="service.slug"/>
              </div>
          </div>
          </a>
        <h4 class="forest lead padded-bottom text-center">{{service.name}}</h4>
        <p ng-repeat="item in service.included" class="forest bold text-center">{{item}}</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="text-center margin-top2x">
        <a class="btn btn-outline" href="#" ui-sref="services.detail({slug: 'interior-design'})" role="button">Pricing</a>
      </div>
    </div>
  </div>
</section>

<section class="cta">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h3>Assembling designs. Emulating your identity. Amplifying your style.</h3>
      </div>
    </div>
  </div>
</section>
{% endverbatim %}
