{% verbatim %}
<section id="home-banner" ng-style="{'background-image': 'url(' + content.Banner.bannerImage.secure_url + ')'}">
  <div class="separator"></div>
  <div class="separator reverse"></div>
</section>


<section id="welcome">
  <div class="hero-text vertical left">
    <h1>hello</h1>
    <h3>Our Studio<span class="end-border">  _______</span></h3>
  </div>
  <div class="container sm">
    <div class="row">
      <div class="col welcome-box">
        <p ng-bind-html="content.Banner.bannerText" class="lead text-center"></p>
        <div class="btn-box text-center">
          <a ng-click="toggleContact()" class="btn btn-outline margin-right" href="#" role="button">CONSULTATION</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="services" class="margin-top2x">
	<a ui-sref="pricing.detail({level: 'all'})"><div class="container padded-vertical">
		<div class="row padded-vertical justify-content-center">
			<div class="col-xs-12">
				<h4>IN-HOME DESIGN SERVICES</h4>
			</div>
		</div>
		<div class="row text-center">
			<div ng-repeat="service in homeServices" class="col-sm padded-bottom">
				<h6>{{service}}</h6>
			</div>
		</div>
		</div>
	</a>
</section>


<section id="e-design" ng-scroll-reveal="options">
  <div class="hero-text vertical right">
    <h1><span class="hide-sm">virtual&nbsp;</span>design</h1>
    <h3>Curator<span class="end-border">  _______</span></h3>
  </div>
  <div class="container sm">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5 left box-container">
        <img class="img-fluid" ng-src="{{content.Curator.box1Image.secure_url}}" />
      </div>
      <div class="col-md-6 col-lg-5 right box-container">
        <div class="dark-grey box text-center">
          <div class="text-box">
            <h3>What is the Curator</h3>
            <p class="padded-vertical">{{content.Curator.box1Text}}</p>
            <button class="btn btn-outline" ng-click="toggleVideo()" role="button">Watch Now</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5 left box-container">
        <div class="grey box text-center">
          <div class="text-box">
              <h3 class="white">What we need from you:</h3>
              <p>Photos of Your Space</p>
              <p>Dimensions</p>
              <p>Inspiration Images</p>
              <p class="padded-bottom">Answers to the Questionnaire</p>
              <h3 class="white">What you get from us:</h3>
              <p>Mood Board</p>
              <p>Floor Plan</p>
              <p>Purchasing List</p>
              <a class="btn btn-outline margin-top" ui-sref="curator">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 right box-container">
        <img class="img-fluid" ng-src="{{content.Curator.box2Image.secure_url}}" />
      </div>
    </div>
  </div>
</section>

<global-modal width="80%" height="{{videoHeight}}" show="videoShow" video="true">
    <div class="embed-responsive embed-responsive-16by9">
        <video width="400" id="CS-video" controls>
            <source src="img/videos/curator-video-comp.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
        </video>
    </div>
</global-modal>

<section id="style">
  <div class="hero-text vertical left">
    <h1>style</h1>
    <h3>Quiz<span class="end-border">  _______</span></h3>
  </div>

  <div class="container sm">
    <div class="row justify-content-center">
      <div class="col welcome-box">
        <p class="lead text-center">{{content['Style Quiz'].styleQuizText}}</p>
        <div class="btn-box text-center">
          <a class="btn btn-outline" href="#" ui-sref="style-quiz" role="button">Style Quiz</a>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col col-md-6 offset-md-3">
      <a ui-sref="style-quiz"><img class="img-fluid padded-top2x" ng-src="{{content['Style Quiz'].styleQuizImage.secure_url}}" /></a>
    </div>
  </div>
  </div>
</section>

<div class="container sm margin-vertical2x">
	<div class="row">
		<div class="col text-center">
			<p ng-bind-html="content.quotes"></p>
		</div>
	</div>
</div>

<section class="cta">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h3>{{content.cta}}</h3>
      </div>
    </div>
  </div>
</section>
{% endverbatim %}
