{% verbatim %}
<page-banner bg-image="../../img/bgs/pricing-banner.png"></page-banner>

<section id="pricing" class="padded-vert-2x">
  <div class="hero-text">
    <h1>packages</h1>
    <h3>pricing<span class="end-border">  _______</span></h3>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <p class="text-center lead">In my business, I believe it is best to be as transparent as possible regarding cost and client expectations. I think that provides a great base for a successful design experience. My goal is to get to know you and transform the way that you live through design.</p>
      </div>
    </div>

  	<div class="row">
  		<div ng-repeat="service in services track by $index" class="col-sm-4 pricing-box margin-top2x" ng-class="{'offset-sm-1' : $index % 2 === 0, 'offset-sm-2' : $index % 2 !== 0}">
        <a ng-click="showSlide(service.slug)">
          <h3 class="forest text-center">{{service.name}}</h3>
  				<img ng-src="{{service.img}}" ng-class="{hide: selectedService === service.slug}" class="img-responsive">
        </a>

        <div class="pricing-slide" ng-class="{show: selectedService === service.slug}">
          <h3 ng-click="close()" class="close">X</h3>
          <p class="desc">{{service.desc}}</p>
          <p>{{service.price}}</p>
          <button ng-click="contactUs()" ng-if="service.button.type === 'contact'" class="btn btn-outline white">{{service.button.text}}</button>

          <button ng-click="toggleBook()" ng-if="service.button.link === 'viewBooklet'" class="btn btn-outline white">{{service.button.text}}</button>

          <button ng-click="toggleRendering()" ng-if="service.button.link === 'viewRendering'" class="btn btn-outline white">{{service.button.text}}</button>

          <a ng-if="service.button.type === 'link'" ui-sref="{{service.button.link}}" class="btn btn-outline white">{{service.button.text}}</a>
        </div>
  		</div>
  	</div>
  </div>
</section>

<section id="branding">
  <global-modal show="bookShow">
      <img class="prev" ng-click="prevPage()" src="./img/icons/arrow-left-rounded.svg" class="img-responsive" />
      <img class="next" ng-click="nextPage()" src="./img/icons/arrow-right-rounded.svg" class="img-responsive" />

        <div class="scene">
        <article class="book">
            <section class="page active">
              <div class="front">
                <img src="./img/booklets/post-booklet2.jpg" class="img-responsive" />
              </div>
              <div class="back">
                <img src="./img/booklets/post-booklet3.jpg" class="img-responsive" />
              </div>
            </section>
            <section class="page">
                <div class="front">
                  <img src="./img/booklets/post-booklet4.jpg" class="img-responsive" />
                </div>
                <div class="back">
                  <img src="./img/booklets/post-booklet5.jpg" class="img-responsive" />
                </div>
            </section>
            <section class="page">
                <div class="front">
                  <img src="./img/booklets/post-booklet6.jpg" class="img-responsive" />
                </div>
                <div class="back">
                  <img src="./img/booklets/post-booklet7.jpg" class="img-responsive" />
                </div>
            </section>
            <section class="page">
                <div class="front">
                  <img src="./img/booklets/post-booklet8.jpg" class="img-responsive" />
                </div>
                <div class="back">
                  <img src="./img/booklets/post-booklet9.jpg" class="img-responsive" />
                </div>
            </section>
            <section class="page">
                <div class="front">
                  <img src="./img/booklets/post-booklet10.jpg" class="img-responsive" />
                </div>
                <div class="back">
                  <img src="./img/booklets/post-booklet11.jpg" class="img-responsive" />
                </div>
            </section>
          </article>
      </div>

  </global-modal>
</section>

<section id="rendering" class="text-center">
  <global-modal width="80%" height="{{videoHeight}}" show="showRendering" video="true">
    <div class="row">
      <div class="col text-center">
        <h2 class="forest">3D Rendering</h2>
      </div>
    </div>
      <div class="embed-responsive embed-responsive-16by9">
          <video width="400" id="CS-video" controls>
              <source src="img/videos/3d-rendering-video-comp.mp4" type="video/mp4">
                  Your browser does not support HTML5 video.
          </video>
      </div>
      <button ng-click="brandingContact()" class="btn btn-outline margin-top">Contact to get started</button>
  </global-modal>
</section>

<section class="cta">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3>A ROOM SHOULD NEVER ALLOW THE EYE TO SETTLE IN ONE PLACE.  IT SHOULD SMILE AT YOU AND CREATE FANTASY. - JUAN MONTOYA</h3>
            </div>
        </div>
    </div>
</section>
{% endverbatim %}
