{% verbatim %}
<page-banner bg-image="../../img/bgs/style-quiz-banner.png"></page-banner>

<div class="hero-text style">
		<h1>Style</h1>
		<h3>quiz<span class="end-border">  _______</span></h3>
</div>
<section id="style-container" class="container padded-bottom2x">

		<div class="result">
			<div class="row">
				<div class="col text-center">
					<h2 class="black">Hi {{client}}! Your style is {{formattedAnswers}}.</h2>
				</div>
			</div>

			<div class="row align-items-center padded-vertical justify-content-center" ng-repeat="answer in answerList">
				<div class="col-sm-4">
					<h3 class="black text-center">{{answer.id}}</h3>
					<p>{{answer.desc}}</p>
				</div>
				<div class="col-sm-4">
					<img ng-src="/img/style-quiz/answers/{{answer.id}}.png">
				</div>
			</div>

			<div class="row padded-vertical align-items-center justify-content-center">
				<div class="col-3 text-center">
						<button ui-sref="pricing.detail({level: 'all'})" type="button" class="btn btn-lg btn-outline margin-right">Pricing</button>
						<button ui-sref="style-quiz" type="button" class="btn btn-lg btn-outline">Take Again</button>
				</div>
				<div class="col-1">
					<h4 class="forest">Share:</h4>
				</div>
				<div class="col-1">
					<iframe ng-src="{{fbShare}}" width="73" height="28" style="border:none;overflow:hidden;margin-top:8px" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
				</div>
				<div class="col-1">
					<a data-pin-do="buttonBookmark" data-pin-tall="true" href="https://www.pinterest.com/pin/create/button/"></a>
				</a>
				</div>
			</div>
		</div>

</section>

{% endverbatim %}
