{% block contents %}
	<h3>Hi Hayley,</h3>
	<p>You recieved a new style quiz from cedarandsagedesign.com</p>
	<p>
		Name: {{body.firstName}} {{body.lastName}}
		<br>Email: {{body.email}}
		<br>Message: {{body.note}},
		<br>Answers: {{body.answers}}
	</p>
{% endblock %}
